#controls
  %a{:href => 'javascript: window.lmgui.locate();', :class => 'button'} Locate

#map
  #map_canvas

#list
  -@restaurants.each do |r|
    %h2= r.url.blank? ? r.name : link_to(r.name, r.url, :target => "_blank")
    -r.valid_lunches.each do |l|
      = l.title
      %strong= l.price
      %br/

:javascript
  $(function () {
    window.lmgui = new LunchMapGUI(#{@latitude},#{@longitude})
  });