
/#map
/  #map_canvas

#address
  %span#address
  %a{:class => 'button', :id => 'locate'} Paikanna

#controls
  

#list
  -@restaurants.each do |r|
    %div{:class => 'restaurant'}= r.url.blank? ? r.name : link_to(r.name, r.url, :target => "_blank")
    %div{:class => 'menu'}
      -r.valid_lunches.each do |l|
        = l.title
        %strong= format_price(l.price)
        %br/

:javascript
  $(function () {
    window.lmgui = new LunchMapGUI(#{@latitude},#{@longitude})
    $('a#locate').click(function () {
      window.lmgui.locate();
    })
  });