= form_for(resource, :url => confirm_account_path) do |f|
  = devise_error_messages!
  %p
    Olet aktivoimassa API-tunnusta osoitteelle #{@api_user.email}. Aktivoinnin
    jälkeen API-rajapinta on käytössä aktivointisähköpostin yhteydessä lähetetyllä
    API-avaimella.

    = f.hidden_field :confirmation_token
  %p.clearfix
    = f.submit 'Aktivoi tunnus'
