= form_for(resource, :url => confirm_account_path) do |f|
  = devise_error_messages!
  %p
    = f.label :email
    = @api_user.email
    = f.hidden_field :confirmation_token
  %p.clearfix
    = f.submit 'Aktivoi tunnus'
