!!! 5
%html
  %head
    %meta{ 'http-equiv' => "Content-Type", 'content' => "text/html; charset=UTF-8" }
    %title Lolnas
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Mate:400,400italic'
    %meta{'name' => 'viewport', 'content' => 'target-densitydpi=device-dpi, width=640px'}
    %meta{'name' => 'apple-mobile-web-app-capable', 'content' => 'yes'}
    %meta{'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black'}
    %link{'rel' => 'apple-touch-startup-image', 'href' => '/startup.png'}
  %body

    #container
      #logo
        %a{:href => '/'}
          =image_tag "/assets/lolnas.svg", :id => 'logo'

      -if flash[:notice]
        #flash_messages
          = flash[:notice] if flash[:notice]

      = yield

    %footer
      #navigation
        #{link_to "API-rajapinta", "/api"}
        |
        =link_to "palaute@lolnas.fi", "mailto:palaute@lolnas.fi"


    -if Rails.env.production?
      :javascript

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26777335-1']);
        _gaq.push(['_setDomainName', '#{request.env['SERVER_NAME']}']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();